{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load is_enrolled %}

{% block js %} {{ block.super }}
  <script type="text/javascript" src="{% static 'js/my-courses/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/controllers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/services.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/filters.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/directives/file.js' %}"></script>
  <script>window.user_id = {{ user.pk }};</script>
{% endblock %}

{% block wrapper_classes %}
  wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
  ng-app="my-courses"
{% endblock %}


{% block content %}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
       $("select[multiple]").mousedown(function(e){
            e.preventDefault();

            var select = this;
            var scroll = select.scrollTop;

            e.target.selected = !e.target.selected;

            setTimeout(function(){select.scrollTop = scroll;}, 0);

            $(select).focus();
        }).mousemove(function(e){e.preventDefault()});
    });
  </script>
  <div class="page container-fluid">
    <header class="page-header">
      <h2>Atualizar fórum</h2>
    </header>
    <form action="" method="post" class="forum-admin">
      {% csrf_token %}
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <label>Título</label>
        </div>
        <div class="col-xs-12 col-md-9">
          {{ form.title }}
        </div>
        {{ form.title.errors }}
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <label>Texto</label>
        </div>
        <div class="col-xs-12 col-md-9">
          {{ form.text }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <label>Tipo de fórum</label>
        </div>
        <div class="col-xs-12 col-md-9">
          {{ form.forum_type }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <label>Categoria</label>
        </div>
        <div class="col-xs-12 col-md-9">
          {{ form.category }}
        </div>
        {{ form.category.errors }}
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <label>Grupos de usuário</label>
        </div>
        <div class="col-xs-12 col-md-9">
          {{ form.groups }}
        </div>
        {{ form.groups.errors }}
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <label>Tornar público</label>
        </div>
        <div class="col-xs-12 col-md-9">
          {{ form.is_public }}
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Atualizar fórum"/>
    </form>
  </div>
{% endblock %}

