{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block js %} {{ block.super }}
  <script type="text/javascript" src="{% static 'js/my-courses/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/controllers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/services.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/filters.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/directives/file.js' %}"></script>
  <script>window.user_id = {{ user.pk }};</script>
{% endblock %}

{% block wrapper_classes %}
  wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
  ng-app="my-courses"
{% endblock %}


{% block content %}
  <div class="page container-fluid">
    <header class="page-header">
      <h2 translate>Delete forum</h2>
    </header>
    <form action="" method="post"  class="forum-admin">{% csrf_token %}
      <p><span translate>Are you sure you want to remove</span> "{{ object }}"?</p>
      <input class="btn btn-primary pull-right" type="submit" {%verbatim%}value="{{'Confirm'|translate}}"{%endverbatim%} />
    </form>
  </div>
{% endblock %}

