{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load is_enrolled %}

{% block js %} {{ block.super }}
  <script type="text/javascript" src="{% static 'js/my-courses/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/controllers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/services.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/filters.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/directives/file.js' %}"></script>
  <script>window.user_id = {{ user.pk }};</script>
{% endblock %}

{% block wrapper_classes %}
  wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
  ng-app="my-courses"
{% endblock %}


{% block content %}
  <div class="page container-fluid">
    <header class="page-header">
      <h2>Remover fórum</h2>
    </header>
<form action="" method="post">{% csrf_token %}
    <p>Você tem certeza de que quer remover "{{ object }}"?</p>
    <input class="btn btn-primary" type="submit" value="Confirmar" />
</form>
  </div>
{% endblock %}

