{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load is_enrolled %}

{% block js %} {{ block.super }}
  <script type="text/javascript" src="{% static 'js/my-courses/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/controllers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/services.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/my-courses/filters.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/directives/file.js' %}"></script>
  <script>window.user_id = {{ user.pk }};</script>
{% endblock %}

{% block wrapper_classes %}
  wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
  ng-app="my-courses"
{% endblock %}


{% block content %}
  <div class="page container-fluid forum-admin forum-list">
    <header class="page-header">
      <div class="pull-right"><a class="btn btn-primary add" href="/discussion/admin/forum-create">novo fórum</a></div>
      <h2>Lista de Fóruns</h2>
    </header>
    {% for forum in object_list %}
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <span><a href="/discussion/#!/forum/{{ forum.id }}">{{ forum.title }}</a></span>
        </div>
        <div class="col-xs-12 col-sm-5 actions">
          <a class="btn btn-primary edit" href="{% url 'discussion:forum-update' forum.id %}">Editar</a>
          <a class="btn btn-danger delete" href="{% url 'discussion:forum-delete' forum.id %}">Remover</a>
        </div>
      </div>
    {% empty %}
      <p>Ainda não há fóruns</p>
    {% endfor %}
  </div>
{% endblock %}

